@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
